@using TaskManagment.Model
@model TaskModel

<h3>Create new task</h3>
<a asp-action="Index">Back</a>

<form asp-action="CreateTask" method="post">
    <table class="table-responsive">
        <tr>
            <td>
                <label asp-for="TaskName"></label>
            </td>
            <br />
            <td>
                <input asp-for="TaskName"></input>
            </td>

        </tr>
        <tr>
            <td>
                <label asp-for="TaskMessage"></label>
            </td>
            <td>
                <textarea asp-for="TaskMessage" rows="5" cols="22"></textarea>
            </td>
        </tr>
      
        <tr>
            <td>
                <label asp-for="DueDate"></label>
             
            </td>
            <td>
                <input asp-for="DueDate"></>
            </td>
        </tr>
        <tr>
            <td>
                <button>Create</button>
            </td>
        </tr>
    </table>

</form>


